{% extends "base.html" %}

{% block content %}

    <center>
    <h1><span class="heading">MiniPress Users</span></h1>
    </center>

    {% if authors|length == 0 %}

    <p>No authors posts yet</p>

    {% else %}

        
            {% for author in authors %}
                <div>

                {% if author.gender == 'Male' %}
                <img src="{{url_for('static', filename='avatar.png')}}" height="3%" width="5%" />
                {% endif %}

                {% if author.gender == 'Female' %}
                <img src="{{url_for('static', filename='avatar-female.png')}}" height="5%" width="5%" />
                {% endif %}

                {% if author.gender == 'Other' %}
                <img src="{{url_for('static', filename='avatar-other.png')}}" height="9%" width="8%" />
                {% endif %}

                <a href="blog?user={{author.username}}">{{author.username}}</a>

                </div>
            
            {% endfor %}

        

    {% endif %}

{% endblock %}