{% extends "base.html" %}

{% block content %}


    <center>
    <h1><span class="heading">MiniPress Blogs</span></h1>
    </center>

    {% if blogs|length == 0 %}

    <p>No blog posts yet</p>

    {% else %}


            {% for blog in blogs %}
            <center>
            <a href="/blog?id={{blog.id}}&user={{user.username}}">{{blog.title}}</a>
            </center>
            {% endfor %}
        
            <center>
            Written by <a href="/blog?user={{user.username}}">{{user.username}}</a>
            </center>
            

        

    {% endif %}

{% endblock %}