{% extends "base.html" %}

{% block content %}

    <a href="/index">Home</a> |
    <a href="/newpost">Add a Blog Entry</a> |
    <a href="#">Logged in as: {{login_name}}</a> |
    <a href="logout">Logout</a>

    <center>
    <h1><span class="heading">Add a Blog Entry</span></h1>
    </center>

    <div>
    <form method="POST" action="/newpost">
    <p>
    Title for your new blog:<br />
    {% if title_alert|length > 0 %}
    <span class="alert">{{title_alert}}</span><br />
    {% endif %}
    <input type="text" name="post_title" value="{{title_hold}}" placeholder="Enter the blog post title.">
    </p>

    <p>
    Your New Blog:<br />
    {% if body_alert|length > 0 %}
    <span class="alert">{{body_alert}}</span><br />
    {% endif %}
    <textarea name="post_body">{{body_hold}}</textarea>
    </p>

    <p>
    <input type="submit" name="submit" value="Create Blog Post"
    </p>
    </form>
    </div>

{% endblock %}