{% extends "base.html" %}

{% block content %}


    <center>
    <h1><span class="heading">Login to MiniPress</span></h1>
    </center>

    <div>
    <form method="POST" action="/login">
    <p>
    Username:<br />
    {% if username_alert|length > 0 %}
    <span class="alert">{{username_alert}}</span><br />
    {% endif %}
    <input type="text" name="username" value="{{username_hold}}" placeholder="Username">
    </p>

    <p>
    Password:<br />
    {% if password_alert|length > 0 %}
    <span class="alert">{{password_alert}}</span><br />
    {% endif %}
    <input type="password" name="password" placeholder="Password">
    </p>

    <p>
    <input type="submit" name="submit" value="Login">
    </p>
    </form>
    </div>

{% endblock %}