{% extends "base.html" %}

{% block content %}


    <center>
    <h1><span class="heading">Sign Up for MiniPress</span></h1>
    </center>

    <div>
    <form method="POST" action="/signup">
    <p>
    Username:<br />
    {% if username_alert|length > 0 %}
    <span class="alert">{{username_alert}}</span><br />
    {% endif %}
    <input type="text" name="username" value="{{username_hold}}" placeholder="Username">
    </p>

    <p>
    Password:<br />
    {% if password_alert|length > 0 %}
    <span class="alert">{{password_alert}}</span><br />
    {% endif %}
    <input type="password" name="password" placeholder="Password">
    </p>

    <p>
    Verify Password:<br />
    {% if verifypw_alert|length > 0 %}
    <span class="alert">{{verifypw_alert}}</span><br />
    {% endif %}
    <input type="password" name="check_password" placeholder="Verify Password">
    </p>

    <p>
    Email:<br />
    {% if email_alert|length > 0 %}
    <span class="alert">{{email_alert}}</span><br />
    {% endif %}
    <input type="text" name="email" value="{{email_hold}}" placeholder="Email">
    </p>

    <p>
    Gender:<br />
    {% if gender_alert|length > 0 %}
    <span class="alert">{{gender_alert}}</span><br />
    {% endif %}
    <select name="gender">
        <option name="gender" value="Male">Male</option>
        <option name="gender" value="Female">Female</option>
        <option name="gender" value="Other">Other</option>
    </select>
    </p>

    <p>
    <input type="submit" name="submit" value="Sign Up"
    </p>
    </form>
    </div>

{% endblock %}