{% extends "base.html" %}

{% block content %}

    <center>
    <h1><span class="heading">{{blog.title}}</span></h1>
    </center>

    {% if blogs|length == 0 %}

    <p>No blog posts yet</p>

    {% else %}
                <center>
                <p class="fancy">{{blog.body}}</p>
                </center>

                <center>
                <p class="fancy">Written by <a href="/blog?user={{user.username}}">{{user.username}}</a></p>
                </center>

    {% endif %}

{% endblock %}